<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-image: url("../../res/star_bg_web.png");
            background-color: #cccccc;
            background-size: cover;
        }

        .config {
            width: 80%;
            height: 80%;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top:20%;
            left: 10%;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <img class="config" src="../../res/new_player_config_web.png" alt="new_player_config">
</div>

</body>
</html>