<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-image: url("../../res/spacetrader_web_homescrn.png");
            background-color: #cccccc;
            background-size: cover;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            vertical-align: middle;
        }

        .wrapper {
            position: absolute;
            top: 50%;
            left: 42%;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <a href="config.html">
        <img src="../../res/start_bttn.png" alt="Start">
    </a>
</div>
</body>
</html>